{% extends 'base.html.twig' %} 


{% block body %}
<h2 class="page-header">Latest Todos</h2>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Todo</th>
          <th>Due date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for todo in todos %}
        <tr>
          <th scope="row">{{todo.id}}</th>
          <td>{{todo.name}}</td>
          <td>{{todo.dueDate|date('Y-m-d H:i:s')}}</td>
          <td>
          <a href="todos/details/{{todo.id}}" class="btn btn-success">view</a>
          <a href="todo/edit/{{todo.id}}" class="btn btn-default">edit</a>
          <a href="todo/delete/{{todo.id}}" class="btn btn-danger">delete</a>
          </td>
        </tr>
      {% endfor %} 
      </tbody>
    </table>
{% endblock %}